.header__container {
  box-sizing: border-box;
  background-image: url('../../../images/header__background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 100px;
  margin: 0;
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
  
@media screen and (max-width: 1580px) {
  .header__container {
    padding: 0 50px;
  }
}
  
@media screen and (max-width: 1280px) {
  .header__container {
    padding: 0 50px;
  }
}
  
@media screen and (max-width: 934px) {
  .header__container {
    padding: 0 30px;
  }
}
  
@media screen and (max-width: 760px) {
  .header__container {
    padding: 0 19px;
  }
}
  
@media screen and (max-width: 628px) {
  .header__container {
    height: 300px;
  }
}
  
.header__container::before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}