.header__select {
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    background-color: #EBEBF1;
    color: #000;
    width: 150px;
    height: 100%;
    border-radius: 5px;
}
  
.header__select:focus {
    background-color: #ffb703;
}