.card__authors {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    color: #9A9B9C;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}